.container{
  width: 99vw;
}

.container .main-image{
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .gallery-container{
  margin: 40px 5% 10px 5%;
}

.container .gallery-container .gallery-text{
  width: 100%;
  text-align: center;

  font-size: 2rem;
  margin-bottom: 2%;
}

.container .gallery-container .gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.container .gallery-container .gallery .image{
  width: 100%;
}

.container .gallery-container .gallery .image img{
  width: 100%;
  height: auto;
  border-radius: 5%;
  animation: fadeIn 1s linear;
  transition: 1s all ease;
}

.container .main-edit .edit{
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 15px;
  background-color: #191970;
  color: white;
}

.container .main-edit .edit .edit-text{
  font-size: 2rem;
}

.container .main-edit .edit .edit-link{
  text-decoration: none;
  color: #fff;
  background-color: #bfddf3;
  border-radius: 5px;
  padding: 15px 10px;
}

.container .main-edit .edit img{
  width: 450px;
  border-radius: 15px;
  margin: 15px 0;
  animation: fadeIn 1s linear;
}


//@keyframes fadeIn {
//  0% { opacity: 0; }
//  100% { opacity: 1; }
//}


// -- parte destinada à animação do carrossel --
$size-width: 900px;
$size-height: 600px;

.carousel-wrapper {
  width: $size-width * 1.3;
  height: $size-height * 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  margin: 30px auto 20px;
}

.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: $size-width * 4;
  animation: sliding 16s infinite;
  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
  .image-one {
    background-image: url("../../../assets/exampleImageColored.png");
  }
  .image-two {
    background-image: url("../../../assets/exampleImageBW.jpg");
  }
  .image-three {
    background-image: url("../../../assets/4kImageColored.jpg");
  }
  .image-four {
    background-image: url("../../../assets/4kImageBlue.jpg");
  }
}

@keyframes sliding {
  12.5% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-$size-width);
  }
  37.5% {
    transform: translateX(-$size-width);
  }
  50% {
    transform: translateX(-$size-width * 2);
  }
  62.5% {
    transform: translateX(-$size-width * 2);
  }
  75% {
    transform: translateX(-$size-width * 3);
  }
  87.5% {
    transform: translateX(-$size-width * 3);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  $size-width: 240px;
  $size-height: 150px;
  .carousel-wrapper {
    width: $size-width * 1.3;
    height: $size-height * 1.4;
  }

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * 4;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    12.5% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-$size-width);
    }
    37.5% {
      transform: translateX(-$size-width);
    }
    50% {
      transform: translateX(-$size-width * 2);
    }
    62.5% {
      transform: translateX(-$size-width * 2);
    }
    75% {
      transform: translateX(-$size-width * 3);
    }
    87.5% {
      transform: translateX(-$size-width * 3);
    }
    100% {
      transform: translateX(0);
    }
  }
}