<main class="container">
    <div class="main-image">
        <img src="../../../assets/imgDefault.jpg" alt="">
    </div>
    <div class="gallery-container">
        <p class="gallery-text">
            Veja algumas imagens editadas com nossa ferramenta recentemente!
        </p>
        <hr>
        <br>
        <div class="gallery">
            <div class="image">
                <img src="../../../assets/mainImg.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/mainImg.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/mainImg.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/mainImg.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/mainImg.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="main-edit">
        <div class="edit">
            <p class="edit-text">Comece agora mesmo à editar suas imagens com nossa ferramenta, o <strong>Image Editor!</strong>
            <br> Com ela você pode dar novos ares para sua imagem.
            <br> <br> <a class="edit-link" href="/edit"> Começar a editar!</a>
            </p>
            <img src="../../../assets/mainImg.jpg" alt="">
        </div>



    </div>
</main>
