<main class="container">
    <div class="main-image">
        <div class="carousel-wrapper">
            <div class="carousel-container">
              <div class="carousel">
                <div class="image-one"></div>
                <div class="image-two"></div>
                <div class="image-three"></div>
                <div class="image-four"></div>
              </div>
            </div>
        </div>
        <!-- TODO: colocar um carrosel com exemplos dos nossos filtros -->
    </div>
    <div class="gallery-container">
        <p class="gallery-text">
            Veja as possibilidades que o ImagEasy te proporciona!
        </p>
        <hr>
        <br>
        <div class="gallery">
            <div class="image">
                <img src="../../../assets/mainImg02.jpg" alt="">
                <strong>Monocromático</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg03.jpg" alt="">
                <strong>Sépia</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg04.jpg" alt="">
                <strong>Negativo</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg05.jpg" alt="">
                <strong>Azul</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg06.jpg" alt="">
                <strong>Vermelho</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg07.jpg" alt="">
                <strong>Verde</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg08.jpg" alt="">
                <strong>Escala/Resolução</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg09.jpg" alt="">
                <strong>Brilho</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg10.jpg" alt="">
                <strong>Rotação</strong>
            </div>
            <div class="image">
                <img src="../../../assets/mainImg11.jpg" alt="">
                <strong>Translação/Deslocamento</strong>
            </div>
        </div>
    </div>

    <div class="main-edit">
        <div class="edit"> 
            <p class="edit-text">Comece agora mesmo à editar suas imagens com nossa ferramenta, o <strong>ImagEasy!</strong> 
            <br> Com ela você pode dar novos ares para sua imagem.
            <br><br>
            </p>
            <ul class="navbar-list">
                <li class="navbar-link"><app-button-component label="Comece a editar agora!" url="/edit"></app-button-component></li>
            </ul>
        </div>
        <img src="../../../assets/mainImg01.jpg" alt="">
    </div>
</main>
