<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Imagens</title>
</head>
<body>
    <h1>Upload de Imagens</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Enviar</button>
    </form>
    {% if monochrome_image %}
    <h2>Imagem Monocromática</h2>
    <!-- img src="{{ url_for('static', filename='uploads/' + monochrome_image) }}" alt="Imagem Monocromática" /-->
    <img src="{{ url_for(filename='uploads/' + monochrome_image) }}" alt="Imagem Monocromática">
    {% endif %}
</body>
</html>

