<main class="about-container">
  <div class="about-text">
    <p>
      Somos um projeto criado para a UC de Estruturas Matemáticas da Universidade São Judas Tadeu - Mooca do curso de Ciências da Computação.
      <br>
      Nosso objetivo com esse projeto é aplicar filtros em imagens com a finalidade de demonstrar a alteração da matriz desta mesma imagem. Venha conhecer nosso projeto!
    </p>
  </div>

  <div class="about-people">
    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Alef Rosa</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>

    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Gabriel Pastore </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>

    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Giulia Nogueira</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>

    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Pedro Luccas</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>

    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Pedro Morais</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>
  </div>
</main>
