<main class="edit-container">
    <div class="edit-filters">
        <button class="glow-on-hover">Monocromático</button>
        <button class="glow-on-hover">Escala</button>
        <button class="glow-on-hover">Rotação</button>
        <button class="glow-on-hover">Translação</button>
        <button class="glow-on-hover">Brilho</button>
        <button class="glow-on-hover">Sépia</button>
        <button class="glow-on-hover">Negativo</button>
        <button class="glow-on-hover">Filtro de Luz Azul</button>
        <button class="glow-on-hover">Filtro de Luz Vermelha</button>
        <button class="glow-on-hover">Filtro de Luz Verde</button>
    </div>
    <div class="container-image">
      <div>
        <!-- <div class="edit-canvas"> -->
          <img [src]="imageUrl" alt="Imagem selecionada">
        <!-- </div> -->
      </div>
    </div>

    <div class="edit-form-div">
      <form class="edit-form">
          <div>
              <label for="image">Escolher Imagem! </label>
              <input type="file" name="image" id="image" (change)="onFileSelected($event)">
          </div>
      </form>
      <button class="save-btn"> Salvar Imagem</button>
  </div>
</main>
