<main class="edit-container">
    <div class="edit-filters">
      <button class="glow-on-hover" (click)="convertToNormal()">Original</button>
      <button class="glow-on-hover" (click)="convertToMonochrome()">Monocromático</button>
      <button class="glow-on-hover" (click)="convertToSepia()">Sépia</button>
      <button class="glow-on-hover" (click)="convertToNegative()">Negativo</button>
      <button class="glow-on-hover" (click)="convertToBlue()">Filtro de Luz Azul</button>
      <button class="glow-on-hover" (click)="convertToRed()">Filtro de Luz Vermelha</button>
      <button class="glow-on-hover" (click)="convertToGreen()">Filtro de Luz Verde</button>
    </div>

    <div class="container-image">
      <div class="edit-canvas">
          <img class="selected-image" [src]="imageUrl" alt="Imagem selecionada">
          <div class="alt-text">Escolha uma imagem de seu computador!</div>
          <div class="loading">
            <img src="../../../assets/ImageEasy colored.png" alt="">
          </div>
      </div>
    </div>

    <div class="edit-filters" id="filters-2">
      Escala: <p class="escala">1</p>
      <input type="range" class="range" value="1" min="0.5" max="2" step="0.01" (change)="scaleValue($event)" (input)="scaleValue($event)">
      Brilho: <p class="brilho">1</p>
      <input type="range" class="range" value="1" min="0" max="10" step="0.1" (change)="brightnessValue($event)" (input)="brightnessValue($event)">
      Rotação: <p class="rotacao">0</p>
      <input type="range" class="range" value="1" min="0" max="360" step="1" (change)="rotationValue($event)" (input)="rotationValue($event)">
      <button class="glow-on-hover" (click)="applyChanges()">Enviar Alterações</button>
    </div>

    <div class="edit-form-div">
      <form class="edit-form">
          <div>
              <label for="image" style="font-size:15px;">Escolher Imagem</label>
              <input type="file" name="image" id="image" (change)="onFileSelected($event)">
          </div>
      </form>
      <div class="edit-filters" style="margin: 0;">
        <input type="number" class="input"><button class="glow-on-hover" id="left" (click)="applyTranslation($event)">Mover para a esquerda</button>
        <input type="number" class="input"><button class="glow-on-hover" id="up" (click)="applyTranslation($event)">Mover para cima</button>
        <input type="number" class="input"><button class="glow-on-hover" id="down" (click)="applyTranslation($event)">Mover para baixo</button>
        <input type="number" class="input"><button class="glow-on-hover" id="right" (click)="applyTranslation($event)">Mover para a direita</button>
      </div>
      <button class="save-btn" (click)="exportImage()" [disabled]="!image" style="font-size:15px;"> Salvar Imagem</button>
  </div>
</main>
