<main class="about-container">
  <div class="about-text">
    <p>
      Somos um projeto criado para a UC de Estruturas Matemáticas da Universidade São Judas Tadeu - Mooca do curso de Ciências da Computação.
      <br>
      Nosso objetivo com esse projeto é aplicar filtros em imagens com a finalidade de demonstrar a alteração da matriz desta mesma imagem. Venha conhecer nosso projeto!
    </p>
  </div>

  <div class="about-people">
    <div class="people">
      <img src="../../../assets/alef.png" alt="">
      <br>
      <h3>Alef Rosa</h3>
      <p>7º semestre <br> Ciências da Computação <br> RA: 821247230
        <br> Linkedin: <a href="https://www.linkedin.com/in/alef-annibal-28a38620b/" target="_blank" rel="noopener noreferrer"><strong>Alef Annibal</strong></a>
      </p>
    </div>

    <div class="people">
      <img src="../../../assets/gabriel.png" alt="">
      <br>
      <h3>Gabriel Pastore </h3>
      <p>6º semestre <br> Ciências da Computação <br> RA: 821224010
      <br> Linkedin: <a href="https://www.linkedin.com/in/gabriel-pastore-b11506206/" target="_blank" rel="noopener noreferrer"><strong>Gabriel Pastore</strong></a>
      </p>
    </div>

    <div class="people">
      <img src="../../../assets/avatar-giulia.jpg" alt="">
      <br>
      <h3>Giulia Nogueira</h3>
      <p>8º semestre <br> Ciências da Computação <br> RA: 820265966
      <br> Linkedin: <a href="//www.linkedin.com/in/giulia-nogueira-de-oliveira-28a60b18b/" target="_blank" rel="noopener noreferrer"><strong>Giulia (朱曼雪) Nogueira de Oliveira</strong></a>
      </p>
    </div>

    <div class="people">
      <img src="../../../assets/predo.png" alt="">
      <br>
      <h3>Pedro Luccas</h3>
      <p>6º semestre <br> Ciências da Computação <br> RA: 82321206
        <br> Linkedin: <a href="https://www.linkedin.com/in/pedro-luccas-gomes-780552213/" target="_blank" rel="noopener noreferrer"><strong>Pedro Luccas Gomes</strong></a>
      </p>
    </div>

    <div class="people">
      <img src="../../../assets/pedro.jpg" alt="">
      <br>
      <h3>Pedro Morais</h3>
      <p>5º semestre <br> Ciências da Computação <br> RA: 822145369
        <br> Linkedin: <a href="https://www.linkedin.com/in/pedro-morais03/" target="_blank" rel="noopener noreferrer"><strong>Pedro Henrique Morais Pereira</strong></a>
      </p>
    </div>
  </div>
</main>