<main class="about-container">
  <div class="about-text">
    <p>
      Somos um projeto criado para a UC de Estruturas Matemáticas da Universidade São Judas Tadeu - Mooca do curso de Ciências da Computação.
      <br>
      Nosso objetivo com esse projeto é aplicar filtros em imagens com a finalidade de demonstrar a alteração da matriz desta mesma imagem. Venha conhecer nosso projeto!
    </p>
  </div>

  <div class="about-people">
    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Alef Rosa</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
      <!-- TODO: testo começar a pasar qnd colocar o mouse em cima -->
    </div>

    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Gabriel Pastore </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>

    <div class="people">
      <img src="../../../assets/avatar-giulia.jpg" alt="">
      <h3>Giulia Nogueira</h3>
      <p>8º semestre <br> Ciências da Computação <br> RA: 820265966
      </p>
    </div>

    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Pedro Luccas</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>

    <div class="people">
      <img src="../../../assets/avatar.jpg" alt="">
      <h3>Pedro Morais</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>
    <div class="card">
      <img src="../../../assets/avatar-giulia.jpg" alt="Descrição da Imagem">
      <div class="content">
        <div class="scroll-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>
    </div>
  </div>
</main>
